.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.body {
  font: 0.95em "Trebuchet MS", "Arial", Helvetica, "Helvetica Neue", sans-serif;
  margin: 0px;
  /* height: 100px; */
  padding: 0px;
  /* change_this_theme */
  background: linear-gradient(179deg,rgb(230 160 122) 10%, rgb(230 120 66) 50%);
  /* background: linear-gradient(177.5deg, rgba(244, 255, 177, 1) 0%, rgba(254, 204, 177, 1) 10%, rgba(241, 116, 50, 1) 50%, rgba(234, 85, 7, 1) 51%, rgba(251, 109, 64, 1) 100%); */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 100% 80px;
  background-repeat: no-repeat;
}


#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
  background: #fff;
}